:host {
  .home-page {
    padding: 50px 20px;
    .home-page-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 50px;
      .item {
        max-width: 350px;
        ::ng-deep {
          .mat-card {
            transition: 0.5s ease-in-out;
            .mat-card-image {
              height: 235px;
              object-fit: cover;
            }
            .mat-card-header-text {
              margin: 0 !important;
            }
            .mat-card-content {
              min-height: 60px;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
